# A good git config to be followed in the future setup
# https://github.com/mathiasbynens/dotfiles/blob/master/.gitconfig
[user]
	name		= Junwei Wang
	email		= {{ .email }}
	signingkey	= 9F288BD7E2BD84AA

[core]
	editor         = emacsclient -t
	excludesfile   = {{ .chezmoi.homedir }}/.gitignore
	attributesfile = ~/.gitattributes

[push]
	default		= matching

[alias]
	# log
	l		= log --color --graph --pretty=format:'%Cred%h%Creset %C(yellow)%G? -%C(yellow)%d%Creset %C(italic)%s%Creset %Cgreen(%cr)%Creset %C(bold blue)<%an%Creset%C(bold blue)>%Creset ' --abbrev-commit --all
	# short format status
	s		= status -s
	# show the diff between the latest commit and the current state
	d		= !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	# `git di $number` shows the diff between the state `$number` revisions ago and the current state
	di		= !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
	# switch to a branch, creating it if necessary
	go		= "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
	# show verbose output about tags, branches or remotes
	tags		= tag -l
	branches	= branch -a
	remotes		= remote -v
	# treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace	= space-before-tab,-indent-with-non-tab,trailing-space

[color "branch"]
	current		= yellow reverse
	local		= yellow
	remote		= green

[color "diff"]
	meta		= yellow bold
	frag		= magenta bold
	old		    = red
	new		    = green

[color "status"]
	untracked	= yellow

[diff]
	# Detect copies as well as renames
	renames		= copies

[help]
	# Automatically correct and execute mistyped commands
	autocorrect	= 1

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log		= true
	tool		= ediff

[push]
	default		= matching
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags	= true
[filter "lfs"]
	clean		= git-lfs clean -- %f
	smudge		= git-lfs smudge -- %f
	process		= git-lfs filter-process
	required	= true
[difftool "sourcetree"]
	cmd         = opendiff \"$LOCAL\" \"$REMOTE\"
	path        =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[mergetool "ediff"]
	cmd		    = emacsclient -c -a \"\" --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[commit]
	gpgsign		= true
[pull]
	ff = only
[init]
	defaultBranch = main
