alias ls lsd

alias pg "ps aux | grep"

{{ if (eq .chezmoi.os "darwin") }}
alias grep ggrep
{{ end }}

# editor
alias ecc "emacsclient -nc"

# brew
alias b "brew"
alias bs "brew services"
alias bi "brew install"

# git
alias g git
alias gl "git l"
alias gs "git status"
alias gd "git diff"

alias ga "git add"
alias gcm "git commit -m"

alias gco "git checkout"

alias gF "git pull"
alias gp "git push"

alias crxgl "ssh crxgit"
